.layout{
    display:  flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.layout li{
display: flex;
justify-content: space-between;
padding: 10px 30px;
width: 100%;
margin-top:30px ;
border-radius:20px;
background-color: #d3c7e2;
color: black;
}
.divLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 90%
}
.divLayout p{
    height: 0px;

  }