
.mainD{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
}

.layout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 color: #007bff;
    background-color:white;
    height: 100vh;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    width: 50%;
    transition: ease-in;
    
   
}

.layoutCreateAcc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 color: white;
    background-color:#007bff;
    height: 100vh;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    width: 50%;
    transition: ease-in;

}


.formDiv{
    display: flex;
    flex-direction: column;

}

.asideD{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 color: white;
    background-color:#007bff;
    height: 100vh;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    width: 50%;
    transition: ease-in;
}

.asideCreateAcc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 color: #007bff;
    background-color:white;
    height: 100vh;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    width: 50%;
    transition: ease-in;
   
}
.asideCreateAcc button{
            display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    padding: 10px 50px;
    background-color:#007bff;
    color :white;
width: 100%;
    border-radius: 10px;

    border: none;

}

.layoutCreateAcc button{
        display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    padding: 10px 50px;
    background-color:white;
    color :#007bff;
width: 100%;
    border-radius: 10px;

    border: none;

}
.asideD button{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    padding: 10px 50px;
    background-color:white;
    color :#007bff;
    border-radius: 10px;

    border: none;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  
  
}
.inputDiv input{
    padding: 10px 30px;
    border: 1px solid #007bff;
    border-radius: 20px;
color: #007bff;
}



.buttonsDiv{
margin-top: 20px;
display: flex;
align-items: center;
justify-content: space-between;
gap: 20px;
}

    

.buttonsDiv button{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    padding: 10px 50px;
    background-color:#007bff;
    color :white;
width: 100%;
    border-radius: 10px;

    border: none;

}


